---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{ site.title }}</h1>
            {% if site.description %}
            <span class="subheading">{{ site.description }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        {{ content }}

        <h3>About Us</h3>
        <p>Sec-Wave is a leading global cybersecurity and compliance firm, proud partners of SynfulAI. We leverage artificial intelligence to defend against sophisticated digital threats and provide thorough audits for organizations seeking ISO, NIST, SOC 2, and PCI-DSS accreditations. Our collaboration with SynfulAI allows us to develop and deploy innovative security solutions that adapt to the ever-evolving cyber risk landscape.</p>

        <p>Our team of seasoned security experts and AI specialists is dedicated to identifying and mitigating potential vulnerabilities, ensuring our clients not only protect their digital assets but also achieve the necessary certifications to validate their security posture. Whether you're aiming to enhance your cybersecurity infrastructure or attain critical industry certifications, Sec-Wave is your trusted partner in navigating the complexities of today's connected world.</p>

        <hr>

        <h3>Our Mission</h3>
        <p>Our mission is to empower businesses and individuals by providing top-tier AI-driven cybersecurity solutions and facilitating essential compliance certifications, ensuring a secure and trustworthy digital environment.</p>


      </div>
    </div>
  </div>
